SUPABASE_SERVICE_ROLE_KEY=
VITE_DUNYAPAY_API_KEY=
VITE_DUNYAPAY_MERCHANT_ID=
VITE_DUNYAPAY_SECRET_KEY=
VITE_DUNYAPAY_TOKEN_KEY=
VITE_PAYDUNYA_MASTER_KEY=
VITE_PAYDUNYA_PRIVATE_KEY=
VITE_PAYDUNYA_PUBLIC_KEY=
VITE_PAYDUNYA_TOKEN=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=